In [1]:
import ydata_profiling as yp

In [2]:
import pandas as pd

In [4]:
data_path = "DataScience/assets/titanic.csv"

In [5]:
data = pd.read_csv(data_path)

In [6]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [8]:
report = yp.ProfileReport(data)

In [9]:
report = report.get_description()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

In [16]:
report.table['types']['Numeric']

5

In [29]:
report.table['types']['Categorical']

4

In [27]:
report.variables

{'PassengerId': {'n_distinct': 891,
  'p_distinct': 1.0,
  'is_unique': True,
  'n_unique': 891,
  'p_unique': 1.0,
  'type': 'Numeric',
  'hashable': True,
  'value_counts_without_nan': PassengerId
  1      1
  599    1
  588    1
  589    1
  590    1
        ..
  301    1
  302    1
  303    1
  304    1
  891    1
  Name: count, Length: 891, dtype: int64,
  'value_counts_index_sorted': PassengerId
  1      1
  2      1
  3      1
  4      1
  5      1
        ..
  887    1
  888    1
  889    1
  890    1
  891    1
  Name: count, Length: 891, dtype: int64,
  'ordering': True,
  'n_missing': 0,
  'n': 891,
  'p_missing': 0.0,
  'count': 891,
  'memory_size': 7260,
  'n_negative': 0,
  'p_negative': 0.0,
  'n_infinite': 0,
  'n_zeros': 0,
  'mean': 446.0,
  'std': 257.3538420152301,
  'variance': 66231.0,
  'min': 1,
  'max': 891,
  'kurtosis': -1.1999999999999997,
  'skewness': 0.0,
  'sum': 397386,
  'mad': 223.0,
  'chi_squared': {'statistic': 0.0, 'pvalue': 1.0},
  'range': 890,
  '5%': 45.5,
  '25%': 223.5,
  '50%': 446.0,
  '75%': 668.5,
  '95%': 846.5,
  'iqr': 445.0,
  'cv': 0.5770265516036549,
  'p_zeros': 0.0,
  'p_infinite': 0.0,
  'monotonic_increase': True,
  'monotonic_decrease': False,
  'monotonic_increase_strict': True,
  'monotonic_decrease_strict': False,
  'monotonic': 2,
  'histogram': (array([18, 18, 18, 18, 17, 18, 18, 18, 18, 17, 18, 18, 18, 18, 17, 18, 18,
          18, 18, 17, 18, 18, 18, 18, 17, 18, 18, 18, 18, 17, 18, 18, 18, 18,
          17, 18, 18, 18, 18, 17, 18, 18, 18, 18, 17, 18, 18, 18, 18, 18]),
   array([  1. ,  18.8,  36.6,  54.4,  72.2,  90. , 107.8, 125.6, 143.4,
          161.2, 179. , 196.8, 214.6, 232.4, 250.2, 268. , 285.8, 303.6,
          321.4, 339.2, 357. , 374.8, 392.6, 410.4, 428.2, 446. , 463.8,
          481.6, 499.4, 517.2, 535. , 552.8, 570.6, 588.4, 606.2, 624. ,
          641.8, 659.6, 677.4, 695.2, 713. , 730.8, 748.6, 766.4, 784.2,
          802. , 819.8, 837.6, 855.4, 873.2, 891. ]))},
 'Survived': {'n_distinct': 2,
  'p_distinct': 0.002244668911335578,
  'is_unique': False,
  'n_unique': 0,
  'p_unique': 0.0,
  'type': 'Categorical',
  'hashable': True,
  'value_counts_without_nan': Survived
  0    549
  1    342
  Name: count, dtype: Int64,
  'value_counts_index_sorted': Survived
  0    549
  1    342
  Name: count, dtype: Int64,
  'ordering': True,
  'n_missing': 0,
  'n': 891,
  'p_missing': 0.0,
  'count': 891,
  'memory_size': 7260,
  'imbalance': 0.03929209812435308,
  'first_rows': 0    0
  1    1
  2    1
  3    1
  4    0
  Name: Survived, dtype: object,
  'chi_squared': {'statistic': 48.09090909090909,
   'pvalue': 4.069087128968317e-12},
  'max_length': 1,
  'mean_length': 1.0,
  'median_length': 1,
  'min_length': 1,
  'length_histogram': Survived
  1    891
  Name: count, dtype: Int64,
  'histogram_length': (array([891], dtype=object), array([0.5, 1.5])),
  'n_characters_distinct': 2,
  'n_characters': 891,
  'character_counts': Survived
  0    549
  1    342
  Name: count, dtype: Int64,
  'category_alias_values': {'0': 'Decimal_Number', '1': 'Decimal_Number'},
  'block_alias_values': {'0': 'ASCII', '1': 'ASCII'},
  'block_alias_counts': ASCII    891
  dtype: int64,
  'n_block_alias': 1,
  'block_alias_char_counts': {'ASCII': 0    549
   1    342
   dtype: int64},
  'script_counts': Common    891
  dtype: int64,
  'n_scripts': 1,
  'script_char_counts': {'Common': 0    549
   1    342
   dtype: int64},
  'category_alias_counts': Decimal Number    891
  dtype: int64,
  'n_category': 1,
  'category_alias_char_counts': {'Decimal_Number': 0    549
   1    342
   dtype: int64},
  'word_counts': Survived
  0    549
  1    342
  Name: count, dtype: Int64},
 'Pclass': {'n_distinct': 3,
  'p_distinct': 0.003367003367003367,
  'is_unique': False,
  'n_unique': 0,
  'p_unique': 0.0,
  'type': 'Categorical',
  'hashable': True,
  'value_counts_without_nan': Pclass
  3    491
  1    216
  2    184
  Name: count, dtype: Int64,
  'value_counts_index_sorted': Pclass
  1    216
  2    184
  3    491
  Name: count, dtype: Int64,
  'ordering': True,
  'n_missing': 0,
  'n': 891,
  'p_missing': 0.0,
  'count': 891,
  'memory_size': 7260,
  'imbalance': 0.09188925934257797,
  'first_rows': 0    3
  1    1
  2    3
  3    1
  4    3
  Name: Pclass, dtype: object,
  'chi_squared': {'statistic': 191.8047138047138,
   'pvalue': 2.2394202231028854e-42},
  'max_length': 1,
  'mean_length': 1.0,
  'median_length': 1,
  'min_length': 1,
  'length_histogram': Pclass
  1    891
  Name: count, dtype: Int64,
  'histogram_length': (array([891], dtype=object), array([0.5, 1.5])),
  'n_characters_distinct': 3,
  'n_characters': 891,
  'character_counts': Pclass
  3    491
  1    216
  2    184
  Name: count, dtype: Int64,
  'category_alias_values': {'3': 'Decimal_Number',
   '1': 'Decimal_Number',
   '2': 'Decimal_Number'},
  'block_alias_values': {'3': 'ASCII', '1': 'ASCII', '2': 'ASCII'},
  'block_alias_counts': ASCII    891
  dtype: int64,
  'n_block_alias': 1,
  'block_alias_char_counts': {'ASCII': 3    491
   1    216
   2    184
   dtype: int64},
  'script_counts': Common    891
  dtype: int64,
  'n_scripts': 1,
  'script_char_counts': {'Common': 3    491
   1    216
   2    184
   dtype: int64},
  'category_alias_counts': Decimal Number    891
  dtype: int64,
  'n_category': 1,
  'category_alias_char_counts': {'Decimal_Number': 3    491
   1    216
   2    184
   dtype: int64},
  'word_counts': Pclass
  3    491
  1    216
  2    184
  Name: count, dtype: Int64},
 'Name': {'n_distinct': 891,
  'p_distinct': 1.0,
  'is_unique': True,
  'n_unique': 891,
  'p_unique': 1.0,
  'type': 'Text',
  'hashable': True,
  'value_counts_without_nan': Name
  Braund, Mr. Owen Harris                     1
  Boulos, Mr. Hanna                           1
  Frolicher-Stehli, Mr. Maxmillian            1
  Gilinski, Mr. Eliezer                       1
  Murdlin, Mr. Joseph                         1
                                             ..
  Kelly, Miss. Anna Katherine "Annie Kate"    1
  McCoy, Mr. Bernard                          1
  Johnson, Mr. William Cahoone Jr             1
  Keane, Miss. Nora A                         1
  Dooley, Mr. Patrick                         1
  Name: count, Length: 891, dtype: int64,
  'value_counts_index_sorted': Name
  Abbing, Mr. Anthony                      1
  Abbott, Mr. Rossmore Edward              1
  Abbott, Mrs. Stanton (Rosa Hunt)         1
  Abelson, Mr. Samuel                      1
  Abelson, Mrs. Samuel (Hannah Wizosky)    1
                                          ..
  de Mulder, Mr. Theodore                  1
  de Pelsmaeker, Mr. Alfons                1
  del Carlo, Mr. Sebastiano                1
  van Billiard, Mr. Austin Blyler          1
  van Melkebeke, Mr. Philemon              1
  Name: count, Length: 891, dtype: int64,
  'ordering': True,
  'n_missing': 0,
  'n': 891,
  'p_missing': 0.0,
  'count': 891,
  'memory_size': 7260,
  'first_rows': 0                              Braund, Mr. Owen Harris
  1    Cumings, Mrs. John Bradley (Florence Briggs Th...
  2                               Heikkinen, Miss. Laina
  3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
  4                             Allen, Mr. William Henry
  Name: Name, dtype: object,
  'max_length': 82,
  'mean_length': 26.9652076318743,
  'median_length': 52,
  'min_length': 12,
  'length_histogram': Name
  19    64
  25    55
  27    50
  18    50
  26    49
  28    43
  24    43
  17    42
  21    40
  20    39
  23    39
  22    38
  30    37
  29    32
  31    30
  16    26
  32    23
  33    22
  15    15
  47    11
  37    10
  45     9
  36     9
  38     9
  39     9
  41     8
  44     8
  34     7
  40     7
  46     7
  51     7
  35     6
  49     5
  42     5
  43     5
  52     4
  50     4
  14     3
  48     3
  56     3
  53     2
  12     2
  57     2
  13     2
  55     2
  65     1
  61     1
  54     1
  67     1
  82     1
  Name: count, dtype: int64,
  'histogram_length': (array([  4,   3,  41,  42,  50, 103,  40,  77,  43,  55,  99,  43,  69,
           30,  23,  29,   6,  19,   9,   9,  15,   5,  13,   9,   7,  14,
            5,  11,   4,   2,   3,   3,   2,   0,   0,   1,   0,   1,   0,
            1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   1]),
   array([12. , 13.4, 14.8, 16.2, 17.6, 19. , 20.4, 21.8, 23.2, 24.6, 26. ,
          27.4, 28.8, 30.2, 31.6, 33. , 34.4, 35.8, 37.2, 38.6, 40. , 41.4,
          42.8, 44.2, 45.6, 47. , 48.4, 49.8, 51.2, 52.6, 54. , 55.4, 56.8,
          58.2, 59.6, 61. , 62.4, 63.8, 65.2, 66.6, 68. , 69.4, 70.8, 72.2,
          73.6, 75. , 76.4, 77.8, 79.2, 80.6, 82. ])),
  'n_characters_distinct': 60,
  'n_characters': 24026,
  'character_counts': Name
       2735
  r    1958
  e    1703
  a    1657
  i    1325
  n    1304
  s    1297
  M    1128
  l    1067
  o    1008
  .     892
  ,     891
  t     667
  h     517
  d     485
  m     386
  u     341
  c     284
  y     251
  A     250
  g     235
  k     219
  J     215
  H     203
  S     180
  C     172
  b     167
  E     166
  f     159
  )     144
  (     144
  W     143
  B     140
  L     129
  v     124
  G     114
  R     112
  P     110
  "     106
  F     103
  w      99
  D      99
  p      89
  T      86
  K      72
  N      70
  O      45
  V      44
  z      44
  I      34
  j      30
  x      25
  -      13
  Y      13
  '       9
  Z       7
  U       5
  q       5
  Q       5
  /       1
  Name: count, dtype: int64,
  'category_alias_values': {' ': 'Space_Separator',
   'r': 'Lowercase_Letter',
   'e': 'Lowercase_Letter',
   'a': 'Lowercase_Letter',
   'i': 'Lowercase_Letter',
   'n': 'Lowercase_Letter',
   's': 'Lowercase_Letter',
   'M': 'Uppercase_Letter',
   'l': 'Lowercase_Letter',
   'o': 'Lowercase_Letter',
   '.': 'Other_Punctuation',
   ',': 'Other_Punctuation',
   't': 'Lowercase_Letter',
   'h': 'Lowercase_Letter',
   'd': 'Lowercase_Letter',
   'm': 'Lowercase_Letter',
   'u': 'Lowercase_Letter',
   'c': 'Lowercase_Letter',
   'y': 'Lowercase_Letter',
   'A': 'Uppercase_Letter',
   'g': 'Lowercase_Letter',
   'k': 'Lowercase_Letter',
   'J': 'Uppercase_Letter',
   'H': 'Uppercase_Letter',
   'S': 'Uppercase_Letter',
   'C': 'Uppercase_Letter',
   'b': 'Lowercase_Letter',
   'E': 'Uppercase_Letter',
   'f': 'Lowercase_Letter',
   ')': 'Close_Punctuation',
   '(': 'Open_Punctuation',
   'W': 'Uppercase_Letter',
   'B': 'Uppercase_Letter',
   'L': 'Uppercase_Letter',
   'v': 'Lowercase_Letter',
   'G': 'Uppercase_Letter',
   'R': 'Uppercase_Letter',
   'P': 'Uppercase_Letter',
   '"': 'Other_Punctuation',
   'F': 'Uppercase_Letter',
   'w': 'Lowercase_Letter',
   'D': 'Uppercase_Letter',
   'p': 'Lowercase_Letter',
   'T': 'Uppercase_Letter',
   'K': 'Uppercase_Letter',
   'N': 'Uppercase_Letter',
   'O': 'Uppercase_Letter',
   'V': 'Uppercase_Letter',
   'z': 'Lowercase_Letter',
   'I': 'Uppercase_Letter',
   'j': 'Lowercase_Letter',
   'x': 'Lowercase_Letter',
   '-': 'Dash_Punctuation',
   'Y': 'Uppercase_Letter',
   "'": 'Other_Punctuation',
   'Z': 'Uppercase_Letter',
   'U': 'Uppercase_Letter',
   'q': 'Lowercase_Letter',
   'Q': 'Uppercase_Letter',
   '/': 'Other_Punctuation'},
  'block_alias_values': {' ': 'ASCII',
   'r': 'ASCII',
   'e': 'ASCII',
   'a': 'ASCII',
   'i': 'ASCII',
   'n': 'ASCII',
   's': 'ASCII',
   'M': 'ASCII',
   'l': 'ASCII',
   'o': 'ASCII',
   '.': 'ASCII',
   ',': 'ASCII',
   't': 'ASCII',
   'h': 'ASCII',
   'd': 'ASCII',
   'm': 'ASCII',
   'u': 'ASCII',
   'c': 'ASCII',
   'y': 'ASCII',
   'A': 'ASCII',
   'g': 'ASCII',
   'k': 'ASCII',
   'J': 'ASCII',
   'H': 'ASCII',
   'S': 'ASCII',
   'C': 'ASCII',
   'b': 'ASCII',
   'E': 'ASCII',
   'f': 'ASCII',
   ')': 'ASCII',
   '(': 'ASCII',
   'W': 'ASCII',
   'B': 'ASCII',
   'L': 'ASCII',
   'v': 'ASCII',
   'G': 'ASCII',
   'R': 'ASCII',
   'P': 'ASCII',
   '"': 'ASCII',
   'F': 'ASCII',
   'w': 'ASCII',
   'D': 'ASCII',
   'p': 'ASCII',
   'T': 'ASCII',
   'K': 'ASCII',
   'N': 'ASCII',
   'O': 'ASCII',
   'V': 'ASCII',
   'z': 'ASCII',
   'I': 'ASCII',
   'j': 'ASCII',
   'x': 'ASCII',
   '-': 'ASCII',
   'Y': 'ASCII',
   "'": 'ASCII',
   'Z': 'ASCII',
   'U': 'ASCII',
   'q': 'ASCII',
   'Q': 'ASCII',
   '/': 'ASCII'},
  'block_alias_counts': ASCII    24026
  dtype: int64,
  'n_block_alias': 1,
  'block_alias_char_counts': {'ASCII':      2735
   r    1958
   e    1703
   a    1657
   i    1325
   n    1304
   s    1297
   M    1128
   l    1067
   o    1008
   .     892
   ,     891
   t     667
   h     517
   d     485
   m     386
   u     341
   c     284
   y     251
   A     250
   g     235
   k     219
   J     215
   H     203
   S     180
   C     172
   b     167
   E     166
   f     159
   )     144
   (     144
   W     143
   B     140
   L     129
   v     124
   G     114
   R     112
   P     110
   "     106
   F     103
   w      99
   D      99
   p      89
   T      86
   K      72
   N      70
   O      45
   V      44
   z      44
   I      34
   j      30
   x      25
   -      13
   Y      13
   '       9
   Z       7
   U       5
   q       5
   Q       5
   /       1
   dtype: int64},
  'script_counts': Latin     19091
  Common     4935
  dtype: int64,
  'n_scripts': 2,
  'script_char_counts': {'Common':      2735
   .     892
   ,     891
   )     144
   (     144
   "     106
   -      13
   '       9
   /       1
   dtype: int64,
   'Latin': r    1958
   e    1703
   a    1657
   i    1325
   n    1304
   s    1297
   M    1128
   l    1067
   o    1008
   t     667
   h     517
   d     485
   m     386
   u     341
   c     284
   y     251
   A     250
   g     235
   k     219
   J     215
   H     203
   S     180
   C     172
   b     167
   E     166
   f     159
   W     143
   B     140
   L     129
   v     124
   G     114
   R     112
   P     110
   F     103
   w      99
   D      99
   p      89
   T      86
   K      72
   N      70
   O      45
   V      44
   z      44
   I      34
   j      30
   x      25
   Y      13
   Z       7
   U       5
   q       5
   Q       5
   dtype: int64},
  'category_alias_counts': Lowercase Letter     15446
  Uppercase Letter      3645
  Space Separator       2735
  Other Punctuation     1899
  Close Punctuation      144
  Open Punctuation       144
  Dash Punctuation        13
  dtype: int64,
  'n_category': 7,
  'category_alias_char_counts': {'Space_Separator':      2735
   dtype: int64,
   'Lowercase_Letter': r    1958
   e    1703
   a    1657
   i    1325
   n    1304
   s    1297
   l    1067
   o    1008
   t     667
   h     517
   d     485
   m     386
   u     341
   c     284
   y     251
   g     235
   k     219
   b     167
   f     159
   v     124
   w      99
   p      89
   z      44
   j      30
   x      25
   q       5
   dtype: int64,
   'Uppercase_Letter': M    1128
   A     250
   J     215
   H     203
   S     180
   C     172
   E     166
   W     143
   B     140
   L     129
   G     114
   R     112
   P     110
   F     103
   D      99
   T      86
   K      72
   N      70
   O      45
   V      44
   I      34
   Y      13
   Z       7
   U       5
   Q       5
   dtype: int64,
   'Other_Punctuation': .    892
   ,    891
   "    106
   '      9
   /      1
   dtype: int64,
   'Close_Punctuation': )    144
   dtype: int64,
   'Open_Punctuation': (    144
   dtype: int64,
   'Dash_Punctuation': -    13
   dtype: int64},
  'word_counts': Name
  mr         521
  miss       182
  mrs        129
  william     64
  john        44
            ...
  leah         1
  sam          1
  aks          1
  lilian       1
  dooley       1
  Name: count, Length: 1525, dtype: int64},
 'Sex': {'n_distinct': 2,
  'p_distinct': 0.002244668911335578,
  'is_unique': False,
  'n_unique': 0,
  'p_unique': 0.0,
  'type': 'Categorical',
  'hashable': True,
  'value_counts_without_nan': Sex
  male      577
  female    314
  Name: count, dtype: Int64,
  'value_counts_index_sorted': Sex
  female    314
  male      577
  Name: count, dtype: Int64,
  'ordering': True,
  'n_missing': 0,
  'n': 891,
  'p_missing': 0.0,
  'count': 891,
  'memory_size': 7260,
  'imbalance': 0.06379535675014791,
  'first_rows': 0      male
  1    female
  2    female
  3    female
  4      male
  Name: Sex, dtype: object,
  'chi_squared': {'statistic': 77.63075196408529,
   'pvalue': 1.2422095313910336e-18},
  'max_length': 6,
  'mean_length': 4.704826038159371,
  'median_length': 4,
  'min_length': 4,
  'length_histogram': Sex
  4    577
  6    314
  Name: count, dtype: Int64,
  'histogram_length': (array([577, 314], dtype=object), array([4., 5., 6.])),
  'n_characters_distinct': 5,
  'n_characters': 4192,
  'character_counts': Sex
  e    1205
  m     891
  a     891
  l     891
  f     314
  Name: count, dtype: Int64,
  'category_alias_values': {'e': 'Lowercase_Letter',
   'm': 'Lowercase_Letter',
   'a': 'Lowercase_Letter',
   'l': 'Lowercase_Letter',
   'f': 'Lowercase_Letter'},
  'block_alias_values': {'e': 'ASCII',
   'm': 'ASCII',
   'a': 'ASCII',
   'l': 'ASCII',
   'f': 'ASCII'},
  'block_alias_counts': ASCII    4192
  dtype: int64,
  'n_block_alias': 1,
  'block_alias_char_counts': {'ASCII': e    1205
   m     891
   a     891
   l     891
   f     314
   dtype: int64},
  'script_counts': Latin    4192
  dtype: int64,
  'n_scripts': 1,
  'script_char_counts': {'Latin': e    1205
   m     891
   a     891
   l     891
   f     314
   dtype: int64},
  'category_alias_counts': Lowercase Letter    4192
  dtype: int64,
  'n_category': 1,
  'category_alias_char_counts': {'Lowercase_Letter': e    1205
   m     891
   a     891
   l     891
   f     314
   dtype: int64},
  'word_counts': Sex
  male      577
  female    314
  Name: count, dtype: Int64},
 'Age': {'n_distinct': 88,
  'p_distinct': 0.12324929971988796,
  'is_unique': False,
  'n_unique': 16,
  'p_unique': 0.022408963585434174,
  'type': 'Numeric',
  'hashable': True,
  'value_counts_without_nan': Age
  24.00    30
  22.00    27
  18.00    26
  28.00    25
  30.00    25
           ..
  36.50     1
  55.50     1
  0.92      1
  23.50     1
  74.00     1
  Name: count, Length: 88, dtype: int64,
  'value_counts_index_sorted': Age
  0.42     1
  0.67     1
  0.75     2
  0.83     2
  0.92     1
          ..
  70.00    2
  70.50    1
  71.00    2
  74.00    1
  80.00    1
  Name: count, Length: 88, dtype: int64,
  'ordering': True,
  'n_missing': 177,
  'n': 891,
  'p_missing': 0.19865319865319866,
  'count': 714,
  'memory_size': 7260,
  'n_negative': 0,
  'p_negative': 0.0,
  'n_infinite': 0,
  'n_zeros': 0,
  'mean': 29.69911764705882,
  'std': 14.526497332334042,
  'variance': 211.01912474630805,
  'min': 0.42,
  'max': 80.0,
  'kurtosis': 0.1782741536421022,
  'skewness': 0.38910778230082693,
  'sum': 21205.17,
  'mad': 9.0,
  'chi_squared': {'statistic': 528.0728291316526,
   'pvalue': 7.114208846169622e-100},
  'range': 79.58,
  '5%': 4.0,
  '25%': 20.125,
  '50%': 28.0,
  '75%': 38.0,
  '95%': 56.0,
  'iqr': 17.875,
  'cv': 0.4891221855465675,
  'p_zeros': 0.0,
  'p_infinite': 0.0,
  'monotonic_increase': False,
  'monotonic_decrease': False,
  'monotonic_increase_strict': False,
  'monotonic_decrease_strict': False,
  'monotonic': 0,
  'histogram': (array([24,  6, 14,  3,  7,  8,  6,  3,  7, 22, 13, 51, 40, 27, 46, 24, 36,
          47, 27, 35, 17, 34, 29, 11, 27,  8, 18,  9, 17, 18,  6, 17,  6,  9,
           7,  2,  7,  4,  7,  4,  3,  1,  0,  2,  3,  0,  1,  0,  0,  1]),
   array([ 0.42  ,  2.0116,  3.6032,  5.1948,  6.7864,  8.378 ,  9.9696,
          11.5612, 13.1528, 14.7444, 16.336 , 17.9276, 19.5192, 21.1108,
          22.7024, 24.294 , 25.8856, 27.4772, 29.0688, 30.6604, 32.252 ,
          33.8436, 35.4352, 37.0268, 38.6184, 40.21  , 41.8016, 43.3932,
          44.9848, 46.5764, 48.168 , 49.7596, 51.3512, 52.9428, 54.5344,
          56.126 , 57.7176, 59.3092, 60.9008, 62.4924, 64.084 , 65.6756,
          67.2672, 68.8588, 70.4504, 72.042 , 73.6336, 75.2252, 76.8168,

In [24]:
num_feats = list(map(lambda x:x[0] if x[1]['type'] == 'Numeric' else '',report.variables.items()))

In [25]:
num_feats = list(filter(lambda x:x != '',num_feats))

In [26]:
num_feats

['PassengerId', 'Age', 'SibSp', 'Parch', 'Fare']

In [28]:
cat_feats = list(map(lambda x:x[0] if x[1]['type'] == 'Categorical' else '',report.variables.items()))
cat_feats = list(filter(lambda x:x != '',cat_feats))

In [30]:
cat_feats

['Survived', 'Pclass', 'Sex', 'Embarked']

In [31]:
type(report)

ydata_profiling.model.description.BaseDescription